<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Portfolio | Corlate</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>

    <section id="portfolio">
        <div class="container">
            
        

            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default" href="#" data-filter="*">My profile</a></li>
                <li><a class="btn btn-default" href="{% url 'chit_details:ChitDetailsForm' %}" data-filter=".bootstrap">Chit details</a></li>
                <li><a class="btn btn-default" href="{% url 'chit_draw:ChitInstallmentForm' %}"  data-filter=".bootstrap">Chit draw</a></li>
                <li><a class="btn btn-default" href="{% url 'chit_installment:ChitInstallmentForm' %}" data-filter=".wordpress">Chit Installment</a></li>
                <li><a class="btn btn-default" href="{% url 'attendance:attendance' %}" data-filter=".wordpress">Attendance</a></li>
                <!--<li><a class="btn btn-default" href="{% url 'subsidy_priority:SubPrioForms' %}" data-filter=".wordpress">Subsidy Priority</a></li>-->
                <!--<li><a class="btn btn-default" href="{% url 'subsidy_types:SubTypeForms' %}" data-filter=".wordpress">Subsidy Types</a></li>-->
            </ul><!--/#portfolio-filter-->

        </div>
    </section>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>

</body>

</html>