<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chit Details</title>
    {% include "header.html" %}
</head>
<body>
<form method="post">
    {% csrf_token %}
    <br><br>
    <h2><b><center> CHIT MEMBERSHIP</center></b></h2>
	<br><br>
    <table align="center">
        <tr>
            <th>Chit Name:</th>
            <td>
                {{ form.chit_name }}
            </td>
        </tr>
        <tr>
            <th>Member Name:</th>
            <td>
                {{ form.members_name }}
            </td>
        </tr>
         <tr>
            <th>Date:</th>
            <td>
                 {{ form.chit_details_date }}
            </td>
        </tr>

         <tr>
            <td colspan="2"><center><button type="submit">Submit</button></center></td>
		</tr>
</table>
    <br>
</form>
<table border="=1" align="center">
	<tr>
		<td>
			 id
		</td>
		<td>
			Chit Name
		</td>
        <td>
			Member's Name
		</td>
        <td>
			Date
		</td>
		<td>
			Edit/Delete
		</td>
	</tr>
	{% for obj in data %}
	<tr>
		<td>
			{{ obj.id }}
		</td>
		<td>
			{{ obj.chit_name }}
		</td>
        <td>
			{{ obj.members_name }}
		</td>
        <td>
			{{ obj.chit_details_date }}
		</td>

		<td>
		<a href="{% url 'chit_details:edit_chit_details' pk=obj.id %}">edit</a>
		<a href="{% url 'chit_details:delete_chit_details' pk=obj.id %}">delete</a>
		</td>

	</tr>
	{% endfor %}


</table>
</body>
{% include "footer.html" %}
</html>