<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ward member home page</title>
    {% include "header.html" %}
</head>
<body>
{% include "links_ward.html" %}
<!--<table>-->
    <!--<tr>-->
            <!--<td><a href="{% url 'place:PlaceForms' %}">Add Place</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><a href="{% url 'coordinator_reg:CoordRegForms' %}">Coordinator Registration</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><a href="{% url 'chit:ChitForms' %}">Add Chit</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><a href="{% url 'meeting:MeetingForms' %}">Fix Meetings</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><a href="{% url 'subsidy_elig:SubEligForms' %}">Subsidy Eligibility</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><a href="{% url 'subsidy_priority:SubPrioForms' %}">Subsidy Priority</a> </td>-->
    <!--</tr>-->
<!--</table>-->
</body>
{% include "footer.html" %}
</html>