<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinator Homepage</title>
    {% include "header.html" %}
</head>
<body>
{% include "links_coord.html" %}

<!--<table>-->
    <!--<tr>-->
        <!--<td><a href="coord_prof.html">My profile</a> &nbsp &nbsp &nbsp &nbsp </td>-->
        <!--<td><a href="atndnce.html">Attendance</a> &nbsp &nbsp &nbsp &nbsp</td>-->
        <!--<td><a href="{% url 'chit_details:ChitDetailsForm' %}">Chit details</a>&nbsp &nbsp &nbsp &nbsp </td>-->
        <!--<td><a href="{% url 'chit_installment:ChitInstallmentForm' %}">Chit installment</a>&nbsp &nbsp &nbsp &nbsp </td>-->
        <!--<td><a href="chit_draw.html">Chit draw</a> &nbsp &nbsp &nbsp &nbsp</td>-->
    <!--</tr>-->
<!--</table>-->
</body>
{% include "footer.html" %}
</html>