<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loan eligibility </title>
	{% include "header.html" %}
</head>
<body>
<form method="post">
	{% csrf_token %}
	<br><br>
    <h2><b><center>LOAN ELIGIBILITY</center></b></h2>
	<br><br>
<table align="center">
		<tr>
			<th>Loan Eligibility:</th>
         	<td>
			 {{ form.loan_elig_name }}
		 	</td>
		</tr>
        <tr>
            <td colspan="2"><center><button type="submit">Submit</button></center></td>
		</tr>
</table>
</form>
<table border="=1" align="center">
	<tr>
		<td>
			 id
		</td>
		<td>
			Loan Eligibility Category
		</td>

		<td>
			Edit/Delete
		</td>
	</tr>
	{% for obj in data %}
	<tr>
		<td>
			{{ obj.id }}
		</td>
		<td>
			{{ obj.loan_elig_name }}
		</td>

		<td>
		<a href="{% url 'loan_elig:edit_loaneligibility' pk=obj.id %}">edit</a>
		<a href="{% url 'loan_elig:delete_loaneligibility' pk=obj.id %}">delete</a>
		</td>

	</tr>
	{% endfor %}


</table>
</body>
{% include "footer.html" %}
</html>